In [1]:
import pandas as pd

In [3]:
ladies = pd.read_csv('gopher_open_2020.csv')
ladies

                name  age country    500_m   1000_m   1500_m   3000_m
0        Greta MYERS  LB1     USA    42,48      NaN      NaN  4.49,54
1  Giorgia BIRKELAND  LA1     USA    43,35      NaN      NaN  4.44,31
2      Jia GRIFFITHS  LB1     USA    45,61  1.32,48  2.22,54      NaN
3         Ilsa SHOBE  LN2     USA    47,16  1.33,89  2.27,27      NaN
4          Emily BOS  LC2     USA    50,32  1.43,38      NaN      NaN
5         Ella CAGLE  LC1     USA    52,98  1.54,08      NaN      NaN
6        Elise STAVE   L?     USA  1.00,85      NaN      NaN      NaN
7       Piper ARCAND  LB1     USA  1.20,09      NaN      NaN      NaN