 # 2019-2020 Ladies 1500 Meter Results  Testing
 Dataset includes personal best for every skater in the 2019-2020 season for 1500 m.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as datetime
import math
from datetime import datetime
from datetime import timedelta

In [ ]:
# Load Data
results = pd.read_csv('ladies-1500-2019-2020.csv')
results.sample(5)

#Drop Null Values

results = results.dropna()

#Convert time to proper form and cast to float
results['time']= results['time'].str.replace('.', ':')

results['time']= results['time'].str.replace(',', ':')
results['time']= results['time'].str.replace(' ', '')
results.head()
#results.to_csv('converted_time.csv')

In [ ]:
def convert_date_string_to_datetime(time_string):
    t=datetime.strptime(time_string, "%M:%S:%f")
    delta = timedelta(minutes=t.minute,seconds=t.second)
    return delta


results['datetime']= results['time'].apply(convert_date_string_to_datetime)
results['Minutes'] = results['datetime'].dt.seconds/60
#df[['Place' ,'Age', 'Bib No']] = df[['Place' ,'Age', 'Bib No']].astype(int)
results = results.sort_values(by = 'datetime').reset_index(drop=True)

results.head()

In [ ]:
results = results[results['age']!='L? ']
results.count()

# By Age Class

In [ ]:
results.groupby('age').count()

In [27]:
age = results.groupby('age').count().reset_index()
# Just select needed column
age = age[['age','rank']].copy()
#Rename columns
age.columns=[['age','count']]
# age.drop.iloc[11] TODO delete unknown age
age.values

array([['L30', 48],
       ['L35', 37],
       ['L40', 34],
       ['L45', 52],
       ['L50', 50],
       ['L55', 33],
       ['L60', 28],
       ['L65', 11],
       ['L70', 6],
       ['L75', 3],
       ['L80', 1],
       ['LA1', 203],
       ['LA2', 167],
       ['LB1', 356],
       ['LB2', 298],
       ['LC1', 388],
       ['LC2', 404],
       ['LN1', 103],
       ['LN2', 105],
       ['LN3', 82],
       ['LN4', 58],
       ['LSA', 209],
       ['LYA', 105],
       ['LYB', 32],
       ['LYC', 12],
       ['LYD', 10],
       ['LYE', 2],
       ['LYF', 1]], dtype=object)

In [ ]:
# find a repalce for age

age_group = results.replace({'age': {0: 100, 4: 400}})

In [ ]:
# TODO FIX PLOT
ax = age.plot(x='age',y='count',figsize=(10,5),grid=True,title='Country Count Ladies 1500')

# Visulize 1500 Time

In [ ]:
# Plot Stats for Time
sns.set_style('darkgrid')
sns.violinplot(data=results['Minutes'],color='c',inner='quartile').set_title('Global 1500 Meters Times')

In [ ]:
results.dtypes

In [ ]:
# scatterplot
sns.scatterplot(x='age',y='Minutes',date=results)

In [ ]:
plot = results[0:]
ax = plot.plot(x='name',y='time',grid=True)

In [ ]:
141.8323/60

# Which Countries have the most speedskaters?

In [ ]:
# Groupby Country
country_counts= results.groupby('country').count().reset_index()
# Just selected needed columns
country_counts= country_counts[['country','rank']].copy()
# Rename column
country_counts.columns = ['Country','Count']
country_counts.tail()
# ascending order
country_counts.sort_values(by=['Count'])

# Now just Display countries over 5 skaters
country_counts = country_counts[country_counts['Count']>7]
country_counts.dtypes

# Visulize Country Count 
Countires with more then 10 skaters

In [ ]:
# Use Pandas Plot.
ax = country_counts.plot.bar(x='Country',y='Count',figsize=(10,5),grid=True,title='Country Count Ladies 1500')

# Age Divsions

In [ ]:
# Groupby Age
age = results.groupby('age').count().reset_index()
# Just select needed column
age = age[['age','rank']].copy()
#Rename columns
age.columns=[['age','count']]
# age.drop.iloc[11] TODO delete unknown age
age.dtypes
age = age[1:3]
age

# Plot by Age Divsion

In [ ]:
ax = age.plot.bar(x='age',y='count')#,figsize=(10,5),grid=True,title='Age Divsions')
ax
#TODO FIX

# By Track

In [ ]:
# Groupby Track
track = results.groupby('track').count().reset_index()
track= track[track['rank']>20]

# American Times
make df for just americans

In [ ]:
usa= results[results['country']=='USA']
usa.head()

In [ ]:
usa.head()

In [ ]:
plot = usa[0:8]
ax = plot.plot(x='name',y='time',grid=True)

In [ ]:
# USA sumstats

stats = usa['time'].describe()
stats = stats[3:]
stats

## American 1500 M Quartiles

In [ ]:
ax = stats.plot.bar(stats,figsize=(10,5),grid=True,title='USA 1500 M Quartiles',color='m')

In [ ]:
#top_6 =usa[:6]
#top_6


top_6['secs']= results['time']*60
top_6

# Distribution of Times

In [ ]:
#ax = sns.violinplot(x=['times'])

#sns.boxplot(data=usa['time'],grid=True)
#ax
#sns.boxplot(data=results['time'])


sns.violinplot(data=results['time'],grid=True)

#sns.violinplot(data=corr_df, palette="Set3", bw=.2, cut=1, linewidth=1)

In [ ]:
x = usa['time'].tolist()

In [ ]:
sns.violinplot(x,color='r').set_title('USA 1500 Meters')

In [ ]:
ax = track.plot.bar(x="track", y="rank",grid=True,title='Country Count Ladies 1500',markers=True)

# Times

In [ ]:
ax = times.plot.line(x='name', y='secs',grid=True,title='1500',rot='45',figsize=(30,3),marker= 'o')
ax

In [ ]:
ax = times.plot.line(x='name', y='time',grid=True,title='Country Count Ladies 1500',rot='90',figsize=(10,3))
ax