In [73]:
import datetime 
import pandas as pd

Trying to solve the following problem. Analyzing race times but the next number after 1:59 is 2.00 minutes. Thus 2.00 appears to be .40 more then 1.59, but it is really only one second. Most promising solution so far is pandas.timedelta function.

In [74]:
# Load Data
results = pd.read_csv('ladies-1500-2019-2020.csv')
results.sample(5)

,rank,name,age,country,time,track,date
1411,1410,Ekaterina Ulyanova,LN3,RUS,"2.23,93",Chelyabinsk (RUS),2/13/2020
2018,2019,Olga Ivanova (1981),L35,RUS,"2.33,89",Kolomna (RUS),12/7/2019
1056,1057,Michelle van den Hoek,LA1,NED,"2.18,69",Haarlem (NED),12/8/2019
1429,1428,Darya Terenteva,LB1,RUS,"2.24,18",Chelyabinsk (RUS),1/28/2020
1433,1434,Diana Volynceva,LA2,RUS,"2.24,22",Chelyabinsk (RUS),2/13/2020

In [75]:
# Make new column converting to time to needed format

#Convert time to proper form and cast to float
results['time']= results['time'].str.replace('.', ':')
results.head(1)

,rank,name,age,country,time,track,date
0,1,Miho Takagi,LSA,JPN,"1:50,33",Calgary (CAN),2/8/2020

In [76]:
results['time']= results['time'].str.replace(',', ':')
results.dtypes

rank       object
name       object
age        object
country    object
time       object
track      object
date       object
dtype: object

In [77]:
results = results.dropna()
results.columns

Index(['rank', 'name', 'age', 'country', 'time', 'track', 'date'], dtype='object')

In [78]:
s = results['time']

type(s)

pandas.core.series.Series

In [79]:
def strpdelta(s):
    hr, min, sec = map(float, s.split(':'))
    return datetime.timedelta(hours=hr, minutes=min, seconds=sec)

strpdelta(s)

AttributeError: 'Series' object has no attribute 'split'

In [ ]:
dt = datetime.datetime('1:45:56')
#>>> td = datetime.timedelta(hours=0, minutes=7, seconds=38.701)
#>>> dt + td

In [ ]:
dat=datetime.datetime(1,1,1,1,1,44)
type(dat)

In [ ]:
td = datetime.timedelta(minutes=7, seconds=38.701)
td

In [ ]:
pd.Timedelta(2.5689 unit='m')

test

In [80]:
from datetime import time
time.fromisoformat('04:23:01')
dt.time(4, 23, 1)

datetime.time(4, 23, 1)

In [ ]:
results.dtypes

In [ ]:
2.54 * 60

In [ ]:
3.00 *60

In [81]:
results['format_time'] = time.fromisoformat('time')

ValueError: Invalid isoformat string: 'time'

In [82]:
convert = results['time'].tolist()

In [83]:
time.fromisoformat('04:23:01')
dt.time(4, 23, 1)

datetime.time(4, 23, 1)

In [84]:
time.fromisoformat('convert')

ValueError: Invalid isoformat string: 'convert'